<div class="container mt-4">
  <button class="btn btn-primary mb-4" (click)="startNewPost()">New</button>

  <app-blog-post-form *ngIf="editingPost" [post]="editingPost" (save)="createPost($event)" (update)="updatePost($event)"
    (cancel)="editingPost = null">
  </app-blog-post-form>

  <div *ngFor="let post of blogPosts" class="card mb-3">
    <div class="card-body">
      <p>
        <b>Username:</b> {{ post.username }}<br>
        <b>Posted Text:</b> {{ post.text }}<br>
        <b>Created date:</b> {{ post.dateCreated | date:'short' }}
      </p>
      <div style="float:right;">
        <button class="btn btn-secondary btn-space" (click)="editPost(post)">Edit</button>
        <button class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
      </div>
    </div>
  </div>
</div>